.add-container {
	display: flex;
	margin-top: 16px;
}

.add-container > form {
	margin-left: 16px;
	width: 100%;
}

.add-container textarea {
	border: none;
	border-bottom: solid 1px #dcdcdc;
	resize: none;
	transition: border-bottom 0.3s ease-in-out;
}

.add-container textarea:focus {
	border: none;
	border-bottom: 1px solid black;
	box-shadow: none;
	outline:none;
}

.button-container {
	display: flex;
	flex-direction: row-reverse;
}

.button-container > button {
	margin: 8px;
}

.container {
	display: flex;
	margin: 8px 0;
}

.container > div:last-of-type {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
}

.container > div:last-of-type > div:last-of-type {
	margin: 8px 0;
}
