.active {
  background: #40a9ff !important;
}

@value profile-image-height 80px;

.profile-image {
  width: profile-image-height;
  height: profile-image-height;
  margin: 24px auto;
  position: relative;
}

.profile-image > div[class="name"],
.profile-image > img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bolder;
  border-radius: 50%;
  background: rgb(245, 106, 0);
  cursor: pointer;
}

.profile-image > div[class="cover"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}

.profile-image:hover > div[class="cover"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-container {
    display: flex;
    flex-direction: column;
}

.link-container > a {
    background: rgba(50, 50, 50);
    padding: 12px 24px;
    color: white;
}

.link-container i {
    margin-right: 8px
}
