.form {
	max-width: 500px;
	margin: 0 auto;
}

.form > span {
	font-size: 48px;
	font-weight: bold;
	margin: 10px 0;
}

.loading {
	composes: loading from '../global.css';
}

.verify-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
