@value primary-color from '../global.css';

.form {
	max-width: 500px;
	margin: 0 auto;
	padding: 0 16px;
}

.form > span {
	font-size: 48px;
	font-weight: bold;
	margin: 10px 0;
}

.loading {
	composes: loading from '../global.css';
}

.verify-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.bottom-container {
	text-align: right;
	margin-top: 10px;
}

.bottom-container > * {
	margin-left: 20px;
}

.bottom-container a {
	color: primary-color !important;
}
