<div>
  <p style="margin: 8px 0;">尊敬的<%=addressee.name%>:</p>
  <p style="margin: 8px 0">您对会议——
    <a style="text-decoration: none; color: #1890ff; font-weight: bolder" href=<%=domain%>/meeting/<%=meeting._id%>><%=meeting.name%></a>。
    的注册已通过管理员的审核。
  </p>
  <%include footer.ejs%>
<div>
