<div style="display: flex; justify-content: center; flex-direction: column">
    <span>您的验证码是</span>
    <div style="display: flex; align-items: center">
        <h2 style="color: red; text-decoration: underline"><%=code%></h2>
        <span style="margin-left: 10px">(5分钟内有效)</span>
    </div>
    <%include footer.ejs%>
</div>
