<div style="display: flex; justify-content: center; flex-direction: column;">
    <span>
        您好，您已成功注册清华大学出版社会议网站。请点击以下链接激活您的账号。
    </span>
    <a style="display: block">
        <%=url%>
    </a>
  <%include footer.ejs%>
</div>
