.create-container {
	margin: 16px auto;
	max-width: 850px;
	background: white;
	padding: 8px;
}

.title {
	font-size: 48px;
	font-weight: bold;
	margin: 10px auto;
}

.icon {
	cursor: pointer;
}

.icon:hover {
	font-weight: bolder;
}

.meeting-detail-title {
	display: flex;
	margin: 5px 0;
}

.meeting-detail-title > h1 {
	margin-bottom: 5px;
}

.meeting-detail-title i {
	font-size: 18px;
	margin: 5px;
}

.meeting-detail-time-location {
	display: flex;
	align-items: center;
	margin: 5px;
}

.meeting-detail-time-location i {
	color: rgba(0, 0, 0, 0.8);
	font-size: 18px;
}

.meeting-detail-time-location > * {
	margin: 0 5px;
}

.meeting-detail-time-location > *:first-of-type {
	margin-left: 0;
}

.middle-title {
	margin: 8px 0;
	font-weight: bolder;
	font-size: 19px;
}

@value container-height 280px;

.card-container {
	width: 100%;
	height: container-height;
	border: 1px solid grey;
	border-bottom: 2px solid black;
	box-shadow: #6a6f7b;
	background: white;
}

.card-container > div:last-of-type {
	padding: 8px;
}

.card-container > div:last-of-type > h3 {
	font-weight: bolder;
}

.card-container > div:first-of-type {
	height: 60%;
	border: 1px solid #dcdcdc;
}

.item {
	margin: 8px 0;
}

.card-container .item:first-of-type {
	padding-bottom: 8px;
	border-bottom: 1px solid #dcdcdc
}

.none {
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
}

.carousel {
	height: 100%;
	width: 100%;
}

.carousel > div:first-of-type {
	height: 100%;
}

.carousel > div:first-of-type > div:first-of-type {
	height: 100%;
}

div[class="ant-list-item"] > div:first-of-type {
	width: 100%;
}

.featured-meetings-container {
	height: 500px;
	width: 100%;
	background: black;
}

.featured-meeting-img {
	height: 500px;
	width: 100%;
	object-fit: cover;
}

@media screen and (max-width: 767px) {
	.featured-meetings-container {
		width: 100%;
		background: black;
		height: 200px;
	}
	.featured-meeting-img {
		height: 200px;
		width: 100%;
		object-fit: cover;
	}
}

.featured-meeting-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.featured-meeting-container > div {
	width: 100%;
	height: 100%;	
	background: black;
	color: white;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.featured-meeting-container > h1 {
	font-weight: bolder;
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	padding: 8px;
	background: rgba(0, 0, 0, 0.3);
	margin: 0;
}

/* For demo */
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.icon-container {
	display: flex;
	flex-wrap: wrap;
}
