.create-container {
	margin: 0 auto;
	max-width: 850px;
}

.title {
	font-size: 48px;
	font-weight: bold;
	margin: 10px auto;
}

.icon {
	cursor: pointer;
}

.icon:hover {
	font-weight: bolder;
}

.meeting-detail-title {
	display: flex;
	margin: 5px 0;
}

.meeting-detail-title > h1 {
	margin-bottom: 5px;
}

.meeting-detail-title i {
	font-size: 18px;
	margin: 5px;
}

.meeting-detail-time-location {
	display: flex;
	align-items: center;
	margin: 5px;
}

.meeting-detail-time-location i {
	color: rgba(0, 0, 0, 0.8);
	font-size: 18px;
}

.meeting-detail-time-location > * {
	margin: 0 5px;
}

.meeting-detail-time-location > *:first-of-type {
	margin-left: 0;
}

.middle-title {
	margin: 8px 0;
	font-weight: bolder;
	font-size: 19px;
}