@value primary-color: #000;
@value error-color: #ce1126;

@value default-border: 1px solid #dfdfdf;
@value light-border: 1px solid #eee;

@value default-box-shadow: 0 2px 0 #dfdfdf;
@value light-box-shadow: 0 2px 0 #eee;

@value default-link-color: #000;

@value default-background-color: #fff;
@value light-background-color: #f3f3f3;

@value header-height: 62px;
@value footer-height: 62px;

/*
 Bootstrap4 override
  */
:global .breadcrumb {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
}

:global .btn {
  border-radius: 0;
}

:global .form-control {
  border-radius: 0;
}

.body {
  padding-top: header-height;
}

.global-title-large {
  text-align: center;
  font-weight: 300;
}

.global-title-small {
  text-align: center;
  font-weight: 200;
}

.profile-image {
  border-radius: 50%;
  border: light-box-shadow;
  vertical-align: middle;
}

img {
  object-fit: cover;
}

body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

button {
  background-color: #000;
  color: white;
  border: none;
  letter-spacing: 1.8px;
  padding: 7px 12px;
  border-radius: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

input,
textarea {
  text-indent: 5px;
  border-radius: 0;
}

a {
  color: #000;
  cursor: pointer;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

.color-error {
  color: error-color;
}

.word-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  filter: alpha(opacity=60);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.modal div[class='modal-wrap'] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: white;
}

img[class='close-modal'] {
  position: absolute;
  right: 5%;
  top: 5%;
  -webkit-transition: 0.4s;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
}

img[class='close-modal']:hover {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari & Chrome */
  -o-transform: rotate(180deg); /* Opera */
}

.file {
  position: relative;
  display: block;
  text-align: center;
  background: black;
  border: none;
  overflow: hidden;
  color: white !important;
  text-decoration: none;
  text-indent: 0;
  padding: 0.5em 2em;
}

.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.file:hover {
  background: black;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.bootstrap-modal div {
  border-radius: 0;
}

.alert {
  border-radius: 0;
  letter-spacing: 1.8px;
}

.alert-success {
  composes: alert;
  background: black;
  color: white;
  border: black;
}

.alert-info {
  composes: alert;
  border: #dcdcdc;
  background: #d9edf7;
  color: #31708f;
}

.alert-warning {
  composes: alert;
  border: #dcdcdc;
  background: #dcdcdc;
  color: #8a6d3b;
}

.alert-danger {
  composes: alert;
  border: #dcdcdc;
  background: #dcdcdc;
  color: #a94442;
}

.load-more-button {
  text-align: center;
}

.load-more-button * {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  background: white;
  color: black;
  cursor: pointer;
}

.official {
  color: green;
  border: 1px green solid;
  padding: 0 4px;
  font-weight: bolder;
  font-size: 8px;
  margin-left: 10px;
}

/*checkbox and radio*/
@keyframes a {
 0%
 {border-color: silver}
 to
 {border-color: black}
}
.magic-checkbox,
.magic-radio {
  position:absolute;
  display:none
}
.magic-checkbox[disabled],
.magic-radio[disabled] {
  cursor:not-allowed
}
.magic-checkbox+label,
.magic-radio+label {
  position:relative;
  display:block;
  padding-left:30px;
  cursor:pointer;
  vertical-align:middle
}
.magic-checkbox+label:hover:before,
.magic-radio+label:hover:before {
  animation-duration:.4s;
  animation-fill-mode:both;
  animation-name:a
}
.magic-checkbox+label:before,
.magic-radio+label:before {
  position:absolute;
  top:0;
  left:0;
  display:inline-block;
  width:20px;
  height:20px;
  content:'';
  border:1px solid silver
}
.magic-checkbox+label:after,
.magic-radio+label:after {
  position:absolute;
  display:none;
  content:''
}
.magic-checkbox[disabled]+label,
.magic-radio[disabled]+label {
  cursor:not-allowed;
  color:#e4e4e4
}
.magic-checkbox[disabled]+label:after,
.magic-checkbox[disabled]+label:before,
.magic-checkbox[disabled]+label:hover,
.magic-radio[disabled]+label:after,
.magic-radio[disabled]+label:before,
.magic-radio[disabled]+label:hover {
  cursor:not-allowed
}
.magic-checkbox[disabled]+label:hover:before,
.magic-radio[disabled]+label:hover:before {
  border:1px solid #e4e4e4;
  animation-name:none
}
.magic-checkbox[disabled]+label:before,
.magic-radio[disabled]+label:before {
  border-color:#e4e4e4
}
.magic-checkbox:checked+label:before,
.magic-radio:checked+label:before {
  animation-name:none
}
.magic-checkbox:checked+label:after,
.magic-radio:checked+label:after {
  display:block
}
.magic-radio+label:before {
  border-radius:50%
}
.magic-radio+label:after {
  top:6px;
  left:6px;
  width:8px;
  height:8px;
  border-radius:50%;
  background: black;
}
.magic-radio:checked+label:before {
  border:1px solid black;
}
.magic-radio:checked[disabled]+label:before {
  border:1px solid grey;
}
.magic-radio:checked[disabled]+label:after {
  background:#c9e2f9
}
.magic-checkbox+label:before{
  border-radius:3px
}
.magic-checkbox+label:after {
  top:2px;
  left:7px;
  box-sizing:border-box;
  width:6px;height:12px;
  transform:rotate(45deg);
  border:2px solid #fff;
  border-top:0;border-left:0
}
.magic-checkbox:checked+label:before {
  border:black;
  background:black;
}
.magic-checkbox:checked[disabled]+label:before {
  border:#c9e2f9;
  background:#c9e2f9
}
/*end checkbox and radio*/

.loading{
  width: 40px;
  height: 40px;
  margin-left: calc(50% - 40px);
  border-radius: 50%;
  border: 5px solid #BEBEBE;
  border-left: 5px solid black;
  animation: load 1s linear infinite;
  -moz-animation:load 1s linear infinite;
  -webkit-animation: load 1s linear infinite;
  -o-animation:load 1s linear infinite;
}

@-webkit-keyframes load
{
  from{-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes load
{
  from{-moz-transform:rotate(0deg);}
  to{-moz-transform:rotate(360deg);}
}

@-o-keyframes load
{
  from{-o-transform:rotate(0deg);}
  to{-o-transform:rotate(360deg);}
}
